<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Special Thanks to the Westfield Day School Art Team</p>
    <br />
   
</div>
 <% for (i = 0; i < files.length; i++) { %>

<div class="gallery">
  <a target="_blank" href="fjords.jpg">
    <img src="art/<%=files[i]%>"" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc"><%=names[i]%></div>
</div>
 <% } %>

  </body>
</html>
